*{
    margin: 0;
    padding: 0;
}
body{
    background-color:deeppink;
}

.box1-1{
    width: 100%;
    height: 150px;
    background-color: red;
}
.box1-2{
    width: 100%;
    height: 50px;
    background-color: blue;
}
.half{
    width: 50%;
}
.box2-1{
    background-color: darkblue;
}
.box2-2{
    background-color: darkslateblue;
}
.box3{
    height: 50px;px;
    background-color: yellow;
}
.h150{
height: 150px;
}