*{
    margin: 0;
    padding: 0;
}

.row{
    display: flex;
}

.box1{
    width: 100%;
    background-color: red;
}

.box2{
    width: 100%;
    height: 50px;
    background-color:blue;
}

.box3, .box4{
    height: 300px;
}

.box3{
    background-color: yellow;
}

.box4{
    background-color:green;
}

.box3-1{
    height: 150px;
    background-color:orange;
}
.box3-2{
    height: 150px;
    background-color:indigo;
}
.height1{
    height: 50px;
}
.height2{
    height: 100px;
}
.height3{
    height: 150px;
}
.half{
    width:50%;
}

.box5{
    width: 100%;
}

.color{
    background-color:pink;
}